<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  
  
  <footer class="text-light">
    <div class="container-fluid py-3">
   
    </div>
    <div class="text-center rodape" >
        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Luiz Marinho: <a href="https://www.linkedin.com/in/luiz-m-61418a151/" target="_blank">Portifolio Pessoal</a>
    </div>
  </footer>
</body>
