.tabela{
    margin-top: 3%;
    margin-left: 20%;
    cursor: pointer;
}

input{
    margin-left: 33%;
    cursor: pointer;
    padding: 2%;
    background-color: #eee;
}
.paginacao{
    margin-left: 2%;
}
