<head>
  <meta charset="utf-8">
  <title>Paginacao1</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</head>

<div class="row col-md-8">
  <input type="text" class="form-control" placeholder="Informe o nome do deputado" [(ngModel)]="nomeDeputado"
    (keyup)="pesquisaDeputadoNome(nomeDeputado)">
</div>

<div class="row col-md-8 tabela">
  <div class="text-right paginacao" *ngIf="listaDeputados.length > 0">
    <pagination-controls (pageChange)="pag = $event"></pagination-controls>
  </div>
  <table class="table table-hover table-striped" *ngIf="listaDeputados.length > 0">
    <thead>
      <tr class="table-primary">
        <th scope="col">Foto</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Partido</th>
        <th scope="col">UF</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaDeputados | paginate: { itemsPerPage: 10, currentPage: pag } "
        (click)="gastos(item.id)">
        <th scope="row"><img style="width: 100px; height: 100px;" src={{item.urlFoto}} /></th>
        <th> {{item.nome}}</th>
        <td>{{item.email}}</td>
        <td>{{item.siglaPartido}}</td>
        <td>{{item.siglaUf}}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right paginacao" *ngIf="listaDeputados.length > 0">
    <pagination-controls (pageChange)="pag = $event"></pagination-controls>
  </div>
</div>
