<div class="row col-md-8 tabela">
    <table class="table table-hover table-striped" *ngIf="listaDespesas.length > 0">
      <thead>
        <tr class="table-primary">
          <th scope="col"><h1>Tipos de Despesas que o Deputado pode Declarar</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaDespesas">
       
          <th class="font"> {{item.nome}}</th>
        </tr>
      </tbody>
    </table>

  </div>