<div class="row col-md-10 dadosDeputado">

    <div class="col-md-4 ">
        <img class="foto" src={{deputadoobjeto.ultimoStatus.urlFoto}} />
    </div>

    <div class="col-md-4 dadosPessoais">
        <p><b>Nome Civil:</b> {{deputadoobjeto.nomeCivil}}</p>
        <p><b>Nome Eleitoral:</b> {{deputadoobjeto.ultimoStatus.nomeEleitoral}}</p>
        <p><b>Data de Nascimento:</b> {{deputadoobjeto.dataNascimento | date: 'dd/MM/yyyy'}}</p>
        <p><b>Escolaridade:</b> {{deputadoobjeto.escolaridade}}</p>
        <p><b>Municipio de Nascimento:</b> {{deputadoobjeto.municipioNascimento}} - {{deputadoobjeto.ufNascimento}}</p>
        <p><b>Sexo:</b> {{deputadoobjeto.sexo}}</p>
        <p><b>Telefone:</b> (61) {{deputadoobjeto.ultimoStatus.gabinete.telefone}} <b>Email:</b>
            {{deputadoobjeto.ultimoStatus.gabinete.email}}</p>

    </div>

    <div class="col-md-4 dadosLegislatura">
        <p><b>Endereço Gabinete:</b> Prédio {{deputadoobjeto.ultimoStatus.gabinete.predio}},
            <span
                *ngIf="deputadoobjeto.ultimoStatus.gabinete.andar != null">{{deputadoobjeto.ultimoStatus.gabinete.andar}}º
                Andar</span> sala {{deputadoobjeto.ultimoStatus.gabinete.sala}}
        </p>
        <p><b>Condição Eleitoral:</b> {{deputadoobjeto.ultimoStatus.condicaoEleitoral}}</p>
        <p><b>Situação:</b> {{deputadoobjeto.ultimoStatus.situacao}}</p>
        <p><b>Data da Posse:</b> {{deputadoobjeto.ultimoStatus.data | date: 'dd/MM/yyyy'}}</p>
        <p><b>Partido:</b> {{deputadoobjeto.ultimoStatus.siglaPartido}}</p>
        <p><b>Estado Candidatura:</b> {{deputadoobjeto.ultimoStatus.siglaUf}}</p>
        <p><b>Rede(s) Socia(s):</b></p>
        <p *ngFor="let item of redeSociais"> <a href={{item}} target="_blank">{{item}}</a></p>

    </div>

</div>
<br>
<div class="text-right paginacao" *ngIf="listaDespesas.length > 0">
    <pagination-controls (pageChange)="pag = $event"></pagination-controls>
</div>
<div class="row col-md-10 tabela">
    <table class="table table-hover table-striped" *ngIf="listaDespesas.length > 0">
        <thead>
            <tr class="table-primary">
                <th scope="col">Ano</th>
                <th scope="col">Cnpj/Cpf Fornecedor</th>
                <th scope="col">Nome Fornecedor</th>
                <th scope="col">Nº Documento</th>
                <th scope="col">Cod. Documento</th>
                <th scope="col">Cod. Lote</th>
                <th scope="col">Tipo de Despesa</th>
                <th scope="col">Tipo do Documento</th>
                <th scope="col">Valor do Documento</th>
                <th scope="col">Valor glosa</th>
                <th scope="col">Valot líquido</th>
                <th scope="col">Baixar Documento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaDespesas | paginate: { itemsPerPage: 10, currentPage: pag } ">
                <th>{{item.ano}}</th>
                <th> {{item.cnpjCpfFornecedor}}</th>
                <td>{{item.nomeFornecedor}}</td>
                <td>{{item.numDocumento}}</td>
                <td>{{item.codDocumento}}</td>
                <td>{{item.codDocumento}}</td>
                <td>{{item.tipoDespesa}}</td>
                <td>{{item.tipoDocumento}}</td>
                <td>{{item.valorDocumento}}</td>
                <td>{{item.valorGlosa}}</td>
                <td>{{item.valorLiquido}}</td>
                <td><a href={{item.urlDocumento}} target="_blank"><i *ngIf="item.urlDocumento != null"
                            class="fa fa-download" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-right paginacao" *ngIf="listaDespesas.length > 0">
    <pagination-controls (pageChange)="pag = $event"></pagination-controls>
</div>