.dadosPessoais{
    margin-top: 1%;
    margin-left: -13%;
}

.dadosLegislatura{
    margin-top: 1%;
}

.foto{
    margin-top: 4%;
    margin-left: 5%;
    width: 55%; 
    height: 70%;
}

.dadosDeputado{
    background-color: #eee;
    margin-top: -2%;
    margin-left: 15%;

}

.paginacao{
    margin-left: 16%;
}

.tabela{
    margin-top: 2%;
    cursor: pointer;
    margin-left: 16%;
}